<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Uploaded Files</title>
</head>
<body>
<h1>Uploaded Files</h1>
<table border="1">
    <tr>
        <th>File Name</th>
        <th>Actions</th>
    </tr>
    <tr th:each="file : ${files}">
        <td th:text="${file.fileName}"></td>
        <td>
            <a th:href="@{/view(fileName=${file.fileName})}" target="_blank">View</a> |
            <a th:href="@{/download(fileName=${file.fileName})}">Download</a> |
            <a th:href="@{/delete(fileName=${file.fileName})}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
</table>
<a href="/">Home</a>
</body>
</html>
